################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/bin/ExperimentalEngine.resources.dll
/obj/Debug/TempPE/source.Resource.Resource.Designer.cs.dll
/obj/Debug/ExperimentalEngine.csproj.GenerateResource.Cache
/obj/Debug/ExperimentalEngine.exe
/obj/Release/bin/ExperimentalEngine.resources.dll
/obj/Release/TempPE/source.Resource.Resource.Designer.cs.dll
